<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BasicSuite" verbose="2">
    <test name="TestRunner">
        <classes>
            <class name="com.epam.tat.src.test.java.suites.OutlineTestSuite"/>
        </classes>
    </test>
</suite>
